* {
	margin: 0;
}

h1 {
	text-align: center;
	color: white;
	font-family: 'Arial'
}

ul {
	text-align: center;
	list-style-type: none;
	padding: 0;
}

ul li {
	display: inline-block;
	margin: 10px;
}

#app {
	text-align: center;
}

img {
	max-height: 400px;
	padding-top: 50px;
}

.nav-background {
	background-color: darkgrey;
	padding: 20px;
}

footer {
	background-color: darkgrey;
	color: white;
	height: 100px;
	margin-top: 50px;
}

footer h4 {
	padding-top:35px;
}

#slide-fade-enter, .slide-fade-leave-to {
	transform: translateX(40px);
	opacity: 0;
 }

.slide-fade-enter-active,  {
	transition: 0.3s ease;
}

.slide-fade-leave-active {
	transition: 0.3s ease;
}
