h1 {
	text-align: center;
}

ul {
	text-align: center;
	list-style-type: none;
	padding: 0;
}

ul li {
	display: inline-block;
	margin: 10px;
}

#app {
	text-align: center;
}

img {
	max-height: 500px;
}